html,
button,
input,
select,
textarea {
color: #444;
}

html {
font-size: 1em;
line-height: 1.4;
}

h1{
	color: #516;
}

 h2, h3 {
	color: navy;
}
header {
	margin : 0px 10px 40px 90px;
	text-align: center;

}
#wrapper{	
	min-width:320px;
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
}

#left {
position: fixed;

}
.cmp_{
	font-weight:bold;
}
#right {
/*
float: right;
padding: 0px;

display: inline;
position: relative;
*/
margin-left: 300px;
width: 630px;
color: #333;
border-left: 0px solid #ccc;
box-shadow: -10px -5px 10px #7A7B7A;
}

dt {
	font-weight:bold;
}

#img {
	width: 200px;
	float: left;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

article{
	border-radius: 10px;
	box-shadow: 0px 0px 15px #555;
	margin: 20px;		
	padding: 10px;			
	border: 1px solid #ccc;
}
#nom {
/*
	font-weight:bold;
	color : #523;
*/
    font-family: aladin, sans-serif;
    font-family: alegreya, serif;
}



footer {
	background-color	: lightyellow;

		position			: fixed;
			bottom				: 0;
			left				: 0;
			right				: 0;
			height				: 25px;
	 }

dt,dd {
  -moz-transition : width 1s, height 1s background-color 1s, -moz-transform 1s;
  -webkit-transition :  width 1s, height 1s, background-color 1s, -moz-transform 1s;
  -o-transition :  width 1s, height 1s, background-color 1s, -moz-transform 3s;
  transition : background-color 3s;
}
dt{
background : rgba(45, 89, 89,0.5);
}

dd:hover{
 background : rgba(45, 89, 89,0.1);
 border-radius : 8px;

}

